/*flex*/
.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
    height: 500px;
    background-color: #dedede;
}
.flex-element{
    background-color: green;
    border: 1px solid yellowgreen;
    padding: 10px;
    height: 50px;
}
.flex-second-level{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}